/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap/dist/css/bootstrap.css";

.invalid-errors {
  color: red;
}

.form-group label {
    color: grey;
  }
  
  .form-group input {
    font-weight: 500;
  }
  
  .form-group input::placeholder {
    color: #c0bdbd;
    font-weight: 300;
  }
  
  thead th{
    font-weight: 400;
  }
  
  table tbody tr:hover {
    background-color: #fffbf2;
    cursor: pointer;
  }
  
  input.invalid {
    border-color: red;
  }

  .navbar {
    background-color: #2dfbff;
    background-image: linear-gradient(to right, #787ff6 0%, #7bd5f5 100%);
  }

  .logo-menu a {
    font-size: 20px;
    color: #fff;
  }
  
  .menu-bg {
    background: linear-gradient(left, #3c96ff 0%, #2dfbff 100%);
    background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%);
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    padding: 5px;
  }
  
  .menu-bg .menu-button {
    top: 0;
  }
  
  .menu-bg .menu-button:hover {
    cursor: pointer;
    color: #3c9cfd;
  }
  
  .menu-bg .logo-menu a {
    color: #3c9cfd;
  }
  
  .menu-bg .navbar-nav .nav-link {
    color: #ffffff !important;
  }
  
  .menu-bg .navbar-nav .nav-link:hover {
    color: #ffffff !important;
  }
  
  .menu-bg .navbar-nav .active {
    color: #ffffff !important;
  }
  
  .navbar-expand-md .navbar-nav .nav-link {
    color: #fff;
    font-size: 15px;
    padding: 5px 0px;
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
    position: relative;
  }
  
  .navbar-expand-md .navbar-nav .nav-link:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #ffffff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
  }
  
  .navbar-expand-md .navbar-nav .active::before,
  .navbar-expand-md .navbar-nav .nav-link:hover::before {
    width: 100%;
  }
  
  .navbar-brand {
    color: #fff;
  }
  
  .navbar-expand-md .navbar-nav .nav-link:focus,
  .navbar-expand-md .navbar-nav .nav-link:hover,
  .navbar-expand-md .navbar-nav .nav-link:hover:before {
    color: #ffffff;
  }
  
  .navbar-expand-md .navbar-nav .active > .nav-link,
  .navbar-expand-md .navbar-nav .nav-link.active,
  .navbar-expand-md .navbar-nav .nav-link.active:before,
  .navbar-expand-md .navbar-nav .nav-link.open,
  .navbar-expand-md .navbar-nav .open > .nav-link {
    color: #ffffff;
  }
  
  .navbar-expand-md .navbar-toggler {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
    float: right;
  }
  
  .navbar-expand-md .navbar-toggler i {
    color: #fff !important;
  }
  
  .navbar-expand-md .navbar-toggler:focus {
    outline: none;
  }

  #img {
    margin-top:0;
    padding-top: 0;
  }
  .hero-area-2 {
    color: #fff;
    overflow: hidden;
    position: relative;
  }
  
  .hero-area-2 .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: linear-gradient(to right, #787ff6 0%, #7bd5f5 100%);
  }
  
  .hero-area-2 .contents {
    padding: 20px 0 40px;
  }
  
  .hero-area-2 .contents h2 {
    color: #fff;
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 25px;
    font-weight: 600;
  }
  
  .hero-area-2 .contents p {
    color: #fff;
    font-size: 14px;
    line-height: 26px;
  }
  
  .hero-area-2 .contents .btn {
    margin-top: 40px;
    margin-right: 20px;
    text-transform: uppercase;
  }
  
  .hero-area-2 .contents .btn-border {
    border: 2px solid #fff;
    color: #fff;
  }
  
  .hero-area-2 .intro-img {
    padding: 20px 0 0px;
  }
  
  .hero-area-2 .intro-img img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  /* ==========================================================================
     About 
     ========================================================================== */
  #about {
    padding-bottom: 80px !important;
  }
  
  #about .about-content {
    height: 100%;
    width: 100%;
    display: table;
  }
  
  #about .about-content > div {
    vertical-align: middle;
    display: table-cell;
  }
  
  #about .about-content h3 {
    font-size: 30px;
    font-weight: 700;
  }
  
  #about .about-content h5 {
    font-size: 15px;
    color: #999;
    margin-bottom: 20px;
  }
  
  #about .about-content p {
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  #about .about-content .btn {
    margin-top: 15px;
  }
  
  #carousel-screen {
    margin-top: 15px;
  }
  
  /* ==========================================================================
     Clients 
     ========================================================================== */
  #clients {
    background: #ffffff;
  }
  
  #clients .client-item-wrapper {
    text-align: center;
    margin-bottom: 15px;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
  }
  
  #clients .client-item-wrapper img {
    width: 70%;
    opacity: 0.5;
  }
  
  #clients #clients-scroller img:hover {
    opacity: 1.0;
  }
  
  #clients #clients-scroller .owl-pagination {
    display: none;
  }